ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li button:hover {
  background-color: #ddd;
  padding: 14px 16px;
  color: black;
}
li button {
  color: white;
  text-align: center;
  padding: 14px 16px;
  border: none;
  background-color: #333;
}
div #newCity{
}
