<ul>
  <li>
    <button value="Tel Aviv" (click)="setName($event.target.value )">Tel Aviv</button>
  </li>
  <li>
    <button value="New York" (click)="setName($event.target.value )">New York</button>
  </li>
  <li>
    <button value="Paris" (click)="setName($event.target.value )">Paris</button>
  </li>
  <li>
    <button value="Barcelona" (click)="setName($event.target.value )">Barcelona</button>
  </li>
  <li>
    <button value="Toronto" (click)="setName($event.target.value )">Toronto</button>
  </li>
  <li>
    <button value="Los Angeles" (click)="setName($event.target.value )">Los Angeles</button>
  </li>
  <li>
    <button value="Sydney" (click)="setName($event.target.value )">Sydney</button>
  </li>
  <li>
    <button value="Tokyo" (click)="setName($event.target.value )">Tokyo</button>
  </li>
  <li>
    <button value="London" (click)="setName($event.target.value )">London</button>
  </li>
  <li>
    <button value="Rome" (click)="setName($event.target.value )">Rome</button>
  </li>
</ul>
